@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+QLD+Beginner&family=Montserrat:wght@700;800&family=Poppins:ital@0;1&family=Roboto&family=Ubuntu&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgba(0, 0, 0, 0.5) url(../images/pexels-vicky-tran-7088273.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 20px;
}
.main-container {
  width: 100%;
  height: 100vh;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.list {
  list-style: none;
  width: 180%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}
.nav-list ul li {
  color: #fff;
}
.nav-last {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phone-number {
  color: #fff;
}
.horizontal-line {
  width: 60%;
  height: 1px;
  border: 1px solid #fff;
  position: absolute;
  top: 18%;
  right: 3%;
}
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  margin-top: 60px;
}
h1 {
  width: 100%;
  color: #fff;
  font-size: 70px;
}
button {
  width: 200px;
  height: 60px;
  margin-top: 40px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;
}
.card1 {
  position: absolute;
  top: 72%;
  left: 52%;
  box-shadow: 2px 2px 5px 3px;
  border: none;
  background: #ffffff33;
  padding: 20px;
}
.card1 p {
  color: #fff;
}
.card2 {
  position: absolute;
  top: 30%;
  left: 75%;
  box-shadow: 2px 2px 5px 3px;
  border: none;
  background: #ffffff33;
  padding: 20px;
}
.puzzle-piece {
  background-color: #fff;
  border-radius: 10px;
  padding: 2px;
}
.card2 p {
  color: #fff;
}
.line {
  width: 70px;
  height: 1px;
  border: 1px solid #fff;
  position: absolute;
  top: 81%;
  left: 73%;
}
.circle {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 80%;
  left: 78%;
}
.line2{
    width: 1px;
    height: 70px;
    border: 1px solid #fff;
    position: absolute;
    top: 47%;
    left: 85%;
}
.circle2{
    width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 57.5%;
  left: 84.5%;
}
.hamburger{
  display: none;
}

@media only screen and (max-width: 400px){
  .nav-list{
    display:none;
  }
  .nav-last{
    display: none;
  }
  .horizontal-line{
    display: none;
  }
  nav{
    padding: 20px;
  }
  .main-content {
    margin-top: 0px;
  }
  h1 {
    color: #fff;
    font-size: 35px;
  }
  button {
    width: 130px;
    height: 40px;
    margin-top: 40px;
    font-size: 14px;
  }
  .card1 {
    position: absolute;
    top: 58%;
    left: 10%;
  }
  .card2 {
    position: absolute;
    top: 80%;
    left: 10%;
  }
  .dot-circle {
    display: none;
  }
  .hamburger{
    display: block;
  }
}

@media only screen and (min-width:401px) and (max-width:480px){
  .nav-list{
    display:none;
  }
  .nav-last{
    display: none;
  }
  .horizontal-line{
    display: none;
  }
  nav{
    padding: 20px;
  }
  .main-content {
    margin-top: 0px;
  }
  h1 {
    color: #fff;
    font-size: 40px;
  }
  button {
    width: 130px;
    height: 40px;
    margin-top: 40px;
    font-size: 14px;
  }
  .card1 {
    position: absolute;
    top: 55%;
    left: 10%;
  }
  .card2 {
    position: absolute;
    top: 75%;
    left: 10%;
  }
  .dot-circle {
    display: none;
  }
  .hamburger{
    display: block;
  }
}

@media only screen and (min-width:481px) and (max-width:767px){
  .nav-list{
    display:none;
  }
  .nav-last{
    display: none;
  }
  .horizontal-line{
    display: none;
  }
  nav{
    padding: 20px;
  }
  .main-content {
    margin-top: 0px;
  }
  h1 {
    color: #fff;
    font-size: 50px;
  }
  button {
    width: 130px;
    height: 40px;
    margin-top: 40px;
    font-size: 14px;
  }
  .card1 {
    position: absolute;
    top: 58%;
    left: 10%;
  }
  .card2 {
    position: absolute;
    top: 80%;
    left: 10%;
  }
  .dot-circle {
    display: none;
  }
  .hamburger{
    display: block;
  }
}

@media only screen and (min-width:768px) and (max-width:1000px){

  .nav-list{
    display:none;
  }
  .nav-last{
    display: none;
  }
  .horizontal-line{
    display: none;
  }
  nav{
    padding: 20px;
  }
  .main-content {
    margin-top: 2rem;
  }
  h1 {
    font-size: 80px;
  }
  button {
    width: 250px;
    height: 70px;
    margin-top: 40px;
    font-size: 20px;
  }
  .card1 {
    width: 60%;
    height: 15vh;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 8%;
  }
  .card1 p{
    font-size: 24px;
  }
  .card2 {
    width: 50%;
    height: 15vh;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 8%;
  }
  .card2 p{
    font-size: 26px;
  }
  .bulb{
    width: 50px;
  }
  .dot-circle {
    display: none;
  }
  .hamburger{
    display: block;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1030px) {
  h1 {
    width: 70%;
    font-size: 60px;
 
  }
  .nav-list{
    width: 30%;
    margin-right: 5rem;
  }
  .horizontal-line {
    width: 60%;
    height: 1px;
    border: 1px solid #fff;
    position: absolute;
    top: 18%;
    right: 3%;
  }
  .card1 {
    position: absolute;
    top: 72%;
    left: 46%;
  }
}

@media only screen and (min-width: 1031px) and (max-width: 1300px) {
  h1 {
    width: 50%;
    font-size: 70px;
 
  }
  .nav-list{
    width: 30%;
    margin-right: 5rem;
  }
  .horizontal-line {
    position: absolute;
    top: 18%;
    right: 3%;
  }
  .card1 {
    position: absolute;
    top: 72%;
    left: 51%;
  }
  .card2{
    position: absolute;
    top: 32%;
    left: 75%;
  }
}

